html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.margin-center {
    margin: 0 auto;
}

.no-margin {
    margin: 0px!important;
}

.float-right {
    float: right!important;
}

.button-container {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

#admin-home h1 {
    margin-bottom: 40px;
}

#admin-home .stat-container {
    border: 1px solid #000;
    padding: 20px;
}

#admin-home .stat-container label {
    display: block;
    font-size: 25px;
}

#admin-home .stat-container span {
    font-size: 30px;
}

#admin-home .stat-container button {
    display: block;
    margin: 10px auto 0 auto;
    font-size: 20px;
}

#admin-home .stat-container a:hover {
    text-decoration: none;
}

#individual-job {
    background: #fff;
    border: 1px solid #d7e2e9;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#individual-job .main-info label {
    display: block;
}

.no-bold {
    font-weight: 400!important;
}

.text-right {
    text-align: right;
}

#applicant-info {
    margin-top: 40px;
}

#applicant-info label {
    font-size: 20px;
}

#employer-applicants form {
    display: inline;
}

.filters {
    margin-bottom: 20px;
}

/*Start of job board css*/

ul.job-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.job-list > li.job-preview {
    background: #fff;
    border: 1px solid #d7e2e9;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

ul.job-list > li.job-preview:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.job-title {
    margin-top: 0.6rem;
}

.company {
    color: #96a4b1;
}

.job-preview .btn {
    margin-bottom: 1.1rem;
}

.btn-apply {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: transparent;
    color:  #393a5f;
    border: 2px solid #393a5f;
    padding: 0.6rem 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
}

.btn-apply:hover {
    background-color: #393a5f;
    color:  #fff;
    border: 2px solid #393a5f;
}

@media (max-width: 575px) {
    .job-preview .content {
        width: 100%;
    }
}



/*End of job board css*/